@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

body {
  font-family: 'VT323', monospace;
  font-size: 1.5rem;
}

:root {
  --bg-color: #708090;
  height: 100%;
  overflow: hidden;
}

body {
  margin: 0;
  height: 100%;
  background: linear-gradient(var(--bg-color), lightgrey, white);
  user-select: none;
  display: grid;
  gap: 8px;
  /* 8ch is enough for space for the buttons and 55mm is the boards width */
  grid-template-columns: 8ch 55mm 8ch;
  /* 20mm is enough space for the reset-btn and 115mm is the remainder of the board-height */
  grid-template-rows: 20mm 115mm auto; 
  grid-template-areas: 
  ". board reset"
  "commit board undo"
  "colorselect colorselect colorselect"
  ;
  justify-content: center;
  align-content: center;
}
#colorInput {
  grid-area: colorselect;
  display: block;
  width: 64mm;
  height: 9mm;
  margin: 4px auto;
}
#colorInput circle {
  stroke: black;
  cursor: pointer;
}
.control-input {
  text-align: center;
  cursor: pointer;
}
#board {
  grid-area: board;
  align-self: end;
  margin: 0 auto;
  height: 135mm;
  width: 55mm;
  border: 1px solid #d3d3d3;
  background: #f5f5dc;
  display: flex;
  flex-direction: column;
  box-shadow: inset 5px 5px 10px #f9f9eb, inset -5px -5px 10px #e8e8b0, 5px 5px 5px grey;
}
#code {
  margin: auto;
  height: 9mm;
  width: 50%;
  background: grey;
  color: grey;
  text-align: center;
  box-shadow: inset 1px 1px 0 black, inset 2px 2px 2px dimgrey, inset -1px -1px 0 white, inset -2px -2px 2px lightgrey;
}
#guesses {
  margin: 0 auto 5% auto;
  width: 80%;
  background: lightgrey;
  box-shadow: inset 2px 2px 2px whitesmoke, 2px 2px 2px #c3c3c3;
}
#code svg {
  height: 100%;
  width: 20%;
}
.answer svg {
  height: 100%;
  width: 100%;
}
.guess {
  border-bottom: 1px solid white;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  height: 9mm;
  width: 100%;
}
.code {
  height: 100%;
  width: 75%;
  padding-left: 5%;
}
.answer {
  border-left: 1px solid white;
  height: 100%;
  width: 19%;
}
.guess:last-child {
  border-bottom: none;
}
#guess {
  margin: 1em auto;
  height: 9mm;
  width: 50%;
  background: lightgrey;
  box-shadow: inset 1px 1px 0 darkgrey, inset 2px 2px 2px dimgrey, inset -1px -1px 0 white, inset -2px -2px 2px whitesmoke;
}
#commit {
  grid-area: commit;
  align-self: end;
}
#undo {
  grid-area: undo;
  align-self: end;
}
#reset {
  grid-area: reset;
}
ul {
  padding: 0;
}
li {
  list-style: none;
}

#game-over-message {
  min-width: 288px;
  min-height: 96px;
  line-height: 96px;
  background: rgba(255,255,200,0.8);
  border: 1px solid grey;
  box-shadow: 2px 2px 2px rgba(105,105,105,1);
  font-weight: 900;
  font-size: 2em;
  text-align: center;
  vertical-align: middle;
  animation: blinker 4s linear infinite;
  position: absolute;
  left: 0;
  right: 0;
  top: 35%;
  margin: auto;
  display: none;
}
@keyframes blinker {
  50% {
    color: lightgrey;
  }
}
