@keyframes blinker {
  50% {
    color: lightgrey;
  }
}
body {
  font-family: helvetica;
  background: #f9f9eb;
  
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#colorInput {
  display: block;
  width: 70mm;
  height: 25mm;
  margin: 0 auto;
}
#colorInput circle {
  stroke: black;
  cursor: pointer;  
}
#inputControls {
  text-align: center;
}
#inputControls span {
  padding: 0 1em;
  cursor: pointer;
}
#board {
  height: 135mm;
  width: 55mm;
  margin: 1em auto;
  border: 1px solid lightgrey;
  background: beige;
  display: flex;
  flex-direction: column;
  box-shadow: inset 5px 5px 10px #f9f9eb, inset -5px -5px 10px #e8e8b0, 5px 5px 5px grey;
}
#code {
  margin: auto;  
  height: 9mm;
  width: 50%;
  background: grey;
  color: grey;
  text-align: center;
  box-shadow: inset 1px 1px 0 black, inset 2px 2px 2px dimgrey, inset -1px -1px 0 white, inset -2px -2px 2px lightgrey;
}
#guesses {
  margin: 0 auto 5% auto;  
  width: 80%;
  background: lightgrey;
  box-shadow: inset 2px 2px 2px whitesmoke, 2px 2px 2px #c3c3c3;
}
#code svg {
  height: 100%;
  width: 20%;
}
.answer svg {
  height: 100%;
  width: 100%;
}
.guess {
  border-bottom: 1px solid white;
  display: flex;
  justify-content: space-between;  
  margin: 0 auto;  
  height: 9mm;
  width: 100%;
}
.code {
  height: 100%;
  width: 75%;
  padding-left: 5%;
}
.answer {
  border-left: 1px solid white;
  height: 100%;
  width: 19%;
}
.guess:last-child {
  border-bottom: none;
}
#guess {
  margin: 1em auto;  
  height: 9mm;
  width: 50%;
  background: lightgrey;
  box-shadow: inset 1px 1px 0 darkgrey, inset 2px 2px 2px dimgrey, inset -1px -1px 0 white, inset -2px -2px 2px whitesmoke;
}
#reset {
  text-align: center;
  margin: 1em auto;
  cursor: pointer;
}
ul {
  padding: 0; 
}
li {
  list-style: none;
}

#game-over-message {
  min-width: 288px;
  min-height: 96px;
  line-height: 96px;
  background: rgba(255,255,200,0.8);
  border: 1px solid grey;
  box-shadow: 2px 2px 2px rgba(105,105,105,1);
  font-weight: 900;
  font-size: 2em;
  text-align: center;
  vertical-align: middle;
  animation: blinker 4s linear infinite;
  position: absolute;
  left: 0;
  right: 0;
  top: 35%;
  margin: auto;
  display: none;   
}